<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net48" />
  <package id="ManagedBass" version="3.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="MvvmCross" version="8.0.2" targetFramework="net48" />
  <package id="MvvmCross.Platforms.Wpf" version="8.0.2" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Extensions.Logging" version="3.1.0" targetFramework="net48" />
  <package id="ShowMeTheXAML" version="2.0.0" targetFramework="net48" />
  <package id="System.Console" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net48" />
  <package id="TagLibSharp" version="2.2.0" targetFramework="net48" />
  <package id="VirtualizingWrapPanel" version="1.5.4" targetFramework="net48" />
</packages>